@import 'modern-css-reset/dist/reset.min.css';
@import "tailwindcss";
@import "pretendard/dist/web/static/pretendard.css";

@font-face {
    font-family: 'KerisKeduLine';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-3@1.0/KERISKEDU_Line.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-pretendard: 'Pretendard';
  --font-kedu-line: 'KerisKeduLine';
  --border-gray: #f0f0f0;
  --main-light-color: #c9ece6;
  --main-color: #A8D8CF;
  --main-deep-color: #6FAEA3;
  --sub-color: #B79AD9;
  --point-color: #F6C95B;
  --samsung-blue-color: #0064B2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
}
